.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    padding: 0 20px;
    position: relative;
    color: #393c41;
}

.header-logo {
    float: left;
}

.header-logo img{
    width: 105px;
}

.nav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-header ol{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    list-style: none;
}

.menu-item {
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: .5s;
}

.menu-item:hover {
    background-color: rgb(235, 235, 235);
}

.menu-item a{
    text-decoration: none;
    color: #393c41;
    padding: 4px 8px;
}

.menu-item span{
    margin: 0px 8px;
}

.menu-fixed {
    position: fixed;
    right: 10px;
    z-index: 1
}

.top-corner-links {
    padding-right: 50px;
}

.side-menu{
    width: 300px;
    height: 100vh;
    position: fixed;
    right: 0px;
    border-left: 1px solid;
    transition: .3s;
    color: black;
    background-color: white;
}
/* .side-menu {
    position: fixed; 
} */

.sld{
    left: -310px;
}