.site-header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 20px;
    
}

.header-logo {
    display: flex;
    align-items: center;
    height: 80px;
}

.header-logo img{
    height: 70px;
}

.site-header ol{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    list-style: none;
}

.menu-item {
    margin: 0 10px;
}

.menu-item a{
    text-decoration: none;
    color: black;
}