.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    position: relative;
    color: #393c41;
}

.header-logo {
    float: left;
}

.header-logo img{
    width: 105px;
}

.nav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-header ol{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    list-style: none;
}

.menu-item {
    margin: 0 10px;
}

.menu-item a{
    text-decoration: none;
    color: #393c41;
}

.side-menu{
    width: 110px;
    height: 100vh;
    position: fixed;
    left: 0px;
    border-left: 2px solid;
    transition: .3s;
    color: black;
    background-color: blue;
}

.sld{
    left: -115px;
}